$red: hsl(0, 100%, 67%);
$orange: hsl(39, 100%, 56%);
$green: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.item-topic {
  display: flex;
  align-items: center;
  gap: 5px;

  &.red {
    color: $red;
  }
  &.orange {
    color: $orange;
  }
  &.green {
    color: $green;
  }
  &.blue {
    color: $blue;
  }
}

.item-score {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
  & > span {
    color: var(--dark-gray-blue);
  }
}
