h4,
h3,
span,
p {
  color: white;
  font-weight: 400;
}

$half-blur: rgba(255, 255, 255, 0.5);

.card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    var(--bg-gradient-light-blue),
    var(--bg-gradient-deep-blue)
  );
  padding: 20px;
  border-radius: 15px;

  h4 {
    font-weight: 400;
    margin-top: 10px;
    color: $half-blur;
  }
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(
    var(--score-gradient-light-blue),
    var(--score-gradient-deep-blue)
  );
  min-width: 50%;
  padding: 10px;

  & > .score-contents {
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
      &:first-child {
        font-size: 300%;
        font-weight: 700;
      }
      &:last-child {
        font-size: 70%;
        color: var(--main-blur-color);
      }
    }
  }
}

.explanation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > h3 {
    margin-bottom: 0;
  }
}
.explanation-contents {
  width: 90%;
  text-align: center;
  font-size: 0.8rem;
  color: $half-blur;
}
