.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.item-topic {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-score {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
  & > span {
    color: var(--dark-gray-blue);
  }
}
